html {
    overflow-x: hidden;
    }
    
.navbar-toggler-icon::before, .navbar-toggler-icon::after, .navbar-toggler-icon {
    background-color: #0f3377 !important;
}

.text-black {
    color: black !important;
}

.navbar {
    box-shadow: 1px -1px 100px white,0 0px 0px 0 blue !important;
}

.nav-link-new {
    text-decoration: none;
}

.headline-image {
    width: 100%;
}

@media screen and (max-width: 1068px) {
    .deskonly {
        display: none;
    }
}
.down-arrow {
  }

  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 15px;
    }
    100% {
      margin-top: 0;
    }
  }

  .down-arrow {
    position: absolute;
  left: calc(50% - 25px);
    animation: jumpInfinite 1.5s infinite;
  }
