:root {
  --blue: #0f3377;
  --red: #fd0001; 
}

html, body {
  height: 100%;
  min-height: 100%;
}

img {
  pointer-events: none;
}

html {
    overflow-x: hidden;
    }
    
.navbar-toggler-icon::before, .navbar-toggler-icon::after, .navbar-toggler-icon {
    background-color: #0f3377 !important;
}

.navbar-brand {
  width: 50px;
}

.text-black {
    color: black !important;
}

.navbar {
}

.nav-link-new {
    text-decoration: none;
}

.headline-image {
    width: 100%;
}

@media screen and (max-width: 1068px) {
    .deskonly {
        display: none;
    }
}
.down-arrow {
  }

  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 15px;
    }
    100% {
      margin-top: 0;
    }
  }

  .down-arrow {
    position: absolute;
  left: calc(50% - 25px);
    animation: jumpInfinite 1.5s infinite;
  }

.social-icon {
  padding: 5px;
  fill: #0f3377;
  font-size: 40px;
}

.social-icon:hover {
  fill: #fd0001;
}

.place {
  text-align: center;
}
.country {
  padding: 20px;
}

.coder {
  font-size: 20px;
  top: 3px;
  position: relative;
}

.modal-image {
  width: 50vw;
  position: fixed;
}

.modal-grid-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.modal-image-link {
  width: 200px;
  height: 200px;
  min-height: 200px;
  padding-top: 100px;
  padding-bottom: 75px;
}

footer {
  
}



.img-container {
  margin-top: 70px;
}

.descrip {
  padding: 10px
}

.modal-image-override {
  height: 400px;
}

.movie-title {
  padding-top: 10px;
  color: var(--blue);
}

.movie-link {
  color: var(--red);
}

.movie-link-style {
  padding: 0;
}

.movie-link:hover {
  color: var(--blue);
}

.disabled {
  text-decoration: line-through;
  color: grey;
}

.img-disabled {
  opacity: 0.6;
  filter: alpha(opacity=90); /* msie */
}

.about-side {
  width: auto;
  height: 65vh
}
@media (max-width: 1000px) {
  .about-side {
    display: none;
  }
}

.modal-grid-image {
  height: 500px;
  margin-bottom: 10px;
  box-shadow: 
        10px 10px 20px #d9d9d9, /* Light shadow */
        -10px -10px 20px #ffffff; /* Dark shadow */
  border-radius: 10px;
}

.explore-title {
  color: var(--blue);
}

.country-link {
  text-decoration: none;
  color: black;
}
.country-link:hover {
  color: var(--red);
}

.carousel-item img {
  height: 800px;
  width: 100%;
  object-fit: cover
}

.modal-grid-image {
  width: 100% !important;
  height: auto;
}

@media only screen and (min-width: 600px) {
  .modal-grid-image {
    height: auto !important;
    min-height: 500px;
    max-width: 800px !important;
  }
}


.explore-title {
  font-size: 45px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc; /* Adjust the color as needed */
  margin: 10px 0; /* Adjust the margin as needed */
  margin-bottom: 20px !important;
}

.card-talk {
  padding: 40px;
  padding-left: 30px;
}