:root {
    --red: rgb(253, 0, 1)
    --white: #ffffff;
  }
  

.white {
    color: white;
}

.red {
    color: rgb(253, 0, 1);
}

.video-h1 {
    font-size: 60px !important;
    font-weight: 800;
}

.video-h3, a {
    text-decoration: none;
    text-decoration-line: none;
    font-weight: 100;
}