:root {
    --red: rgb(253, 0, 1)
    --white: #ffffff;
  }
  

.white {
    color: white;
}

.red {
    color: rgb(253, 0, 1);
}

.video-h1 {
    font-size: 60px !important;
    font-weight: 800;
}

.video-h3, a {
    text-decoration: none;
    text-decoration-line: none;
    font-weight: 100;
}

.footer-box {
    background-color: black !important;
}

@media screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }
}

@media screen and (min-width: 1001px) {
    .mobile-navbar {
        display: none;
    }
}

.mobile-navbar-content {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 85px;
}

.mobile-navbar-content h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }

  .hamburger {
    margin-left: auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
  }

  .slide-navbar {
    position: fixed;
    top: 0;
    right: -75%; /* Starts off-screen */
    width: 75%; /* Covers 3/4 of the screen */
    height: 100%;
    background-color: white;
    color: black;
    transition: right 0.3s ease;
    align-items: center;
    display: flex;
  }

  .slide-navbar.open {
    right: 0; /* Slides into view */
  }

  .slide-navbar ul {
    list-style: none;
    padding: 0;
  }
  .slide-navbar li a{
    color: #0f3377 !important;
    text-decoration: none;
    font-size: 30px;
    z-index: 100;
    font-family: 'belgiano', sans-serif !important;

  }

  .slide-navbar ul li {
    margin: 5px 0;
  }

  .slide-navbar  {
    color: #0f3377 !important;
    text-decoration: none;
    font-size: 18px;
    z-index: 100;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 12; /* Ensures the overlay is behind the navbar */
  }

  .overlay.active {
    display: block;
  }

  .mobile-links {
    text-align: right;
    width: 100%;
    padding: 0 25px;
    padding-bottom: px;
  }

  .icon-list li {
    display: inline-block;
    padding: 10px;
  }

  .social-container {
    position: absolute;
bottom: 70px;
right: 25px;
  }

  .close-icon {
    position: absolute;
top: 30px;
right: 25px;
overflow: hidden;
cursor: pointer;
  }

  .close-icon svg {
    fill: #0f3377;
  }

